<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gnv.d3.fcm.scheduler.mapper.SecretkeyMapper" >
  <resultMap id="BaseResultMap" type="com.gnv.d3.fcm.scheduler.bean.Secretkey" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="MSISDN" property="msisdn" jdbcType="VARCHAR" />
    <result column="SECRETKEY" property="secretkey" jdbcType="VARCHAR" />
    <result column="ACTIVE" property="active" jdbcType="DECIMAL" />
    <result column="ACTIVE_DATE" property="activeDate" jdbcType="TIMESTAMP" />
    <result column="IMEI" property="imei" jdbcType="VARCHAR" />
    <result column="GCM_ID" property="gcmId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MSISDN, SECRETKEY, ACTIVE, ACTIVE_DATE, IMEI, GCM_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gnv.d3.fcm.scheduler.bean.SecretkeyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SECRETKEY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SECRETKEY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SECRETKEY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.gnv.d3.fcm.scheduler.bean.SecretkeyExample" >
    delete from SECRETKEY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gnv.d3.fcm.scheduler.bean.Secretkey" >
    insert into SECRETKEY (ID, MSISDN, SECRETKEY, 
      ACTIVE, ACTIVE_DATE, IMEI, 
      GCM_ID)
    values (#{id,jdbcType=DECIMAL}, #{msisdn,jdbcType=VARCHAR}, #{secretkey,jdbcType=VARCHAR}, 
      #{active,jdbcType=DECIMAL}, #{activeDate,jdbcType=TIMESTAMP}, #{imei,jdbcType=VARCHAR}, 
      #{gcmId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gnv.d3.fcm.scheduler.bean.Secretkey" >
    insert into SECRETKEY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="msisdn != null" >
        MSISDN,
      </if>
      <if test="secretkey != null" >
        SECRETKEY,
      </if>
      <if test="active != null" >
        ACTIVE,
      </if>
      <if test="activeDate != null" >
        ACTIVE_DATE,
      </if>
      <if test="imei != null" >
        IMEI,
      </if>
      <if test="gcmId != null" >
        GCM_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="msisdn != null" >
        #{msisdn,jdbcType=VARCHAR},
      </if>
      <if test="secretkey != null" >
        #{secretkey,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=DECIMAL},
      </if>
      <if test="activeDate != null" >
        #{activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="imei != null" >
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="gcmId != null" >
        #{gcmId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gnv.d3.fcm.scheduler.bean.SecretkeyExample" resultType="java.lang.Integer" >
    select count(*) from SECRETKEY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SECRETKEY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.msisdn != null" >
        MSISDN = #{record.msisdn,jdbcType=VARCHAR},
      </if>
      <if test="record.secretkey != null" >
        SECRETKEY = #{record.secretkey,jdbcType=VARCHAR},
      </if>
      <if test="record.active != null" >
        ACTIVE = #{record.active,jdbcType=DECIMAL},
      </if>
      <if test="record.activeDate != null" >
        ACTIVE_DATE = #{record.activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imei != null" >
        IMEI = #{record.imei,jdbcType=VARCHAR},
      </if>
      <if test="record.gcmId != null" >
        GCM_ID = #{record.gcmId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SECRETKEY
    set ID = #{record.id,jdbcType=DECIMAL},
      MSISDN = #{record.msisdn,jdbcType=VARCHAR},
      SECRETKEY = #{record.secretkey,jdbcType=VARCHAR},
      ACTIVE = #{record.active,jdbcType=DECIMAL},
      ACTIVE_DATE = #{record.activeDate,jdbcType=TIMESTAMP},
      IMEI = #{record.imei,jdbcType=VARCHAR},
      GCM_ID = #{record.gcmId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample2" parameterType="map" >
    update SECRETKEY
    set 
      GCM_ID = null
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gnv.d3.fcm.scheduler.bean.Secretkey" >
    update SECRETKEY
    <set >
      <if test="msisdn != null" >
        MSISDN = #{msisdn,jdbcType=VARCHAR},
      </if>
      <if test="secretkey != null" >
        SECRETKEY = #{secretkey,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        ACTIVE = #{active,jdbcType=DECIMAL},
      </if>
      <if test="activeDate != null" >
        ACTIVE_DATE = #{activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="imei != null" >
        IMEI = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="gcmId != null" >
        GCM_ID = #{gcmId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gnv.d3.fcm.scheduler.bean.Secretkey" >
    update SECRETKEY
    set MSISDN = #{msisdn,jdbcType=VARCHAR},
      SECRETKEY = #{secretkey,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=DECIMAL},
      ACTIVE_DATE = #{activeDate,jdbcType=TIMESTAMP},
      IMEI = #{imei,jdbcType=VARCHAR},
      GCM_ID = #{gcmId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.gnv.d3.fcm.scheduler.bean.SecretkeyExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SECRETKEY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>